
georeferencovani/Otava.gdb/a0000007a.gdbtable
georeferencovani/Otava.gdb/a000000b2.gdbtable
georeferencovani/Otava.gdb/a000000bb.gdbtable
georeferencovani/Otava.gdb/a000000c0.gdbtable
georeferencovani/Otava.gdb/a000000c5.gdbtable
